
/* limits the site to a maximum width of 1200px when viewed on devices larger than 720px. */
header, .mainContent, .row
{
    max-width: 1200px;
    padding: 0 5px;
    margin: auto;
}

header
{
    justify-content: flex-end;
    padding: 0 0 0 5px;
}

/* add padding around the navigation */
.mainNav
{
    padding: 8px 0;
    height: auto;
}

/* use flexbox to have the navigation items flow horizontally */
.mainNav .row ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* tidy up borders on links */
.mainNav > div > ul > li 
{
    border: none;
    padding: 0;
}

/* make the .mainContent div a flex container. */
.mainContent 
{
    display: flex;
}

/* make <main> tag, the first child out of two in .mainContent cover 70% of its size. */
main
{
    flex-basis: 70%;
}

/* give .sideBar, the second child out of two in .mainContent a colour and flex-basis of 30% */
.sideBar
{
    background-color: #ddceaa;
    flex-basis: 30%;
}

.newsItem
{
    flex-basis: 33%;
}

.strapLine
{
    display: flex;
}

.strapLinetxt, .strapLineImg
{
    padding: 0 5px;
    flex-basis: 50%;
}

.strapLineImg > img
{
    width: 100%;
}

/* Mobile focused feature. It is redundant in the desktop design, so hide it. */
.burgerMenu
{
    display: none;
}

.logo
{
    padding: 5px 0px;
    flex-basis: 85%;
    position: relative;
}

.logo img
{
    position: absolute;
    top: 0;
    left: 0;
}

.loginLinks
{
    flex-basis: 15%;
}

.search
{
    padding: 5px 0;
    flex-basis: 40%;
}