*
{
    box-sizing: border-box;
}

header
{
    display: flex;
    flex-wrap: wrap;
}

.logo
{
    flex: 1;
}

.logo img
{
    max-width: 400px;
    padding: 5px;
}

.loginLinks
{
    flex: 0;
}

.burgerMenu
{
    flex: 0;
    padding: 13px 11px 0 11px;
}

.search
{
    flex-basis: 100px;
}

body
{
    /* set default font */
    font-family: "Open Sans", helvetica, arial, sans-serif;

    /* remove the default margin and padding from <body> tag. */
    margin: 0;
    padding: 0;
}

/* using class selector '.container' can be used more than once
   through the file. */

.container 
{
    width: 100%;
    min-width: 320px;
}

.mainNav
{
    /* added some styling to '.mainNav' to change the colour of the navigation bar */
    background-color: #8d965b;
    display: none;
}

/* targets the ul area */
.mainNav ul
{
    /* removes the bullet points, margin and default left-hand padding */
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* targets each list item */
.mainNav ul li
{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

/* targets the 'a' (link) areas of each list item */
.mainNav ul li a 
{
    /* elements with a value of 'inline' can not be assigned a width. */
    /* So set display to 'inline-block'. */
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
}

/* resize all of the images via the selector tag 'img' to more suitable dimensions */
img
{
    width: 100%;
}

.mainContent
{
    /* adds a little margin around the main text and images of the page */
    margin: 0 10px;
}

/* make div element '.news' a flexbox container - this will allow items inside
   to change size depending on the width of the flexbox (for devices with larger screens). */
.news 
{
    display: flex;
    flex-wrap: wrap;
}

.newsItems
{
    /* sets a width of 50% percent per .newsItem, meaning space for 2 columns of item. */
    flex-basis: 50%;
    padding: 0 10px;
}

/* affects the .bars class inside .burgerMenu class */
.bars
{
    float: right;
    cursor: pointer;
}

/* assign properties for all the sub-classes of the .bars class. */
.bar1, 
.bar2, 
.bar3
{
    width: 24px;
    height: 4px;
    margin: 6px 0;
    background-color: #000;
}

/* Mobile search functionality */
.search > form
{
    display: flex;
}

input[type="search"]
{
    flex-basis: 80%;
    padding: 12px 5px;
    border: 1px solid #ccc;
    border-right: none;
    -webkit-appearance: none;
}

button[type="submit"]
{
    flex-basis: 20%;
    background-color: #4caf50;
    border: none;
    color: #fff;
}

