
body
{
    /* set default font */
    font-family: "Open Sans", helvetica, arial, sans-serif;

    /* remove the default margin and padding from <body> tag. */
    margin: 0;
    padding: 0;
}

/* using class selector '.container' can be used more than once
   through the file. */

.container 
{
    width: 100%;
    min-width: 320px;
}

.mainNav
{
    /* added some styling to '.mainNav' to change the colour of the navigation bar */
    background-color: #8d965b;
}

/* targets the ul area */
.mainNav ul
{
    /* removes the bullet points, margin and default left-hand padding */
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* targets each list item */
.mainNav ul li
{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

/* targets the 'a' (link) areas of each list item */
.mainNav ul li a 
{
    /* elements with a value of 'inline' can not be assigned a width. */
    /* So set display to 'inline-block'. */
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
}

/* resize all of the images via the selector tag 'img' to more suitable dimensions */
img
{
    width: 100%;
}

.mainContent
{
    /* adds a little margin around the main text and images of the page */
    margin: 0 10px;
}

/* make div element '.news' a flexbox container - this will allow items inside
   to change size depending on the width of the flexbox (for devices with larger screens). */
.news 
{
    display: flex;
    flex-wrap: wrap;
}

.newsItems
{
    /* sets a width of 50% percent per .newsItem, meaning space for 2 columns of item. */
    flex-basis: 50%;
}